---
http_interactions:
- request:
    method: get
    uri: https://s3-ap-southeast-1.amazonaws.com/myapp-backup-test/?location
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180326T145335Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=ASDNLKN23314FSD1234/20180326/ap-southeast-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=549dc21edbb71d0baf8f36dd9d9cf3be77078f3c04cba8672281e4001bb797f4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 49BF9CDC97453F7F
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <LocationConstraint xmlns="http://s3.amazonaws.com/doc/2006-03-01/">ap-southeast-1</LocationConstraint>
  recorded_at: Mon, 26 Mar 2018 14:53:36 GMT
- request:
    method: get
    uri: https://myapp-backup-test.s3-ap-southeast-1.amazonaws.com/?max-keys=1000&prefix=/some/prefix/little_file.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180326T145746Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=ASDNLKN23314FSD1234/20180326/ap-southeast-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=602a8b9f6fd0ad92127b878764b8673c3f2c0e98db345107963658ed36c8fb50
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 745387C1AE45E503
      X-Amz-Bucket-Region:
      - ap-southeast-1
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>myapp-backup-test</Name><Prefix>/some/prefix/little_file.txt</Prefix><Marker></Marker><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>/some/prefix/little_file.txt</Key><LastModified>2018-03-26T14:57:47.000Z</LastModified><ETag>&quot;289b8c2b8eeb8fbac8639506f72933bb&quot;</ETag><Size>50</Size><Owner><ID>f42622f3bee310e052766668800f74cbf34ce89773fedfc8ca592f33bf6841fa</ID><DisplayName>vince</DisplayName></Owner><StorageClass>STANDARD</StorageClass></Contents></ListBucketResult>
  recorded_at: Mon, 26 Mar 2018 14:57:47 GMT
- request:
    method: get
    uri: https://s3-ap-southeast-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180326T160444Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=ASDNLKN23314FSD1234/20180326/ap-southeast-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=aa0ca5ebbecf578750dc3151b4014d0524bec944dcd8bdb43a729c2e053af254
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 1EE6C240777DABDC
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListAllMyBucketsResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Owner><ID>f42622f3bee310e052766668800f74cbf34ce89773fedfc8ca592f33bf6841fa</ID><DisplayName>vince</DisplayName></Owner><Buckets><Bucket><Name>myapp-backup-test</Name><CreationDate>2018-03-23T07:35:34.000Z</CreationDate></Bucket><Bucket><Name>tyler-gannon-test-bucket</Name><CreationDate>2018-03-23T06:19:49.000Z</CreationDate></Bucket></Buckets></ListAllMyBucketsResult>
  recorded_at: Mon, 26 Mar 2018 16:04:45 GMT
[...]
- request:
    method: get
    uri: https://myapp-backup-test.s3-ap-southeast-1.amazonaws.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180326T161525Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=ASDNLKN23314FSD1234/20180326/ap-southeast-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=5dd9df1e[...]
- request:
    method: head
    uri: https://myapp-backup-test.s3-ap-southeast-1.amazonaws.com//some/prefix/little_file.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180326T161525Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=ASDNLKN23314FSD1234/20180326/ap-southeast-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=bcdf04c2b3e3eeac81dfbc0196ae432bed162f4fe53abc94ac06beccab9d8450
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Amz-Request-Id:
      - 56C897250636CBF1
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 26 Mar 2018 16:15:25 GMT
[...]
- request:
    method: put
    uri: https://myapp-backup-test.s3-ap-southeast-1.amazonaws.com//some/prefix/little_file.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/plain
      X-Amz-Acl:
      - private
      X-Amz-Date:
      - 20180326T161526Z
      X-Amz-Content-Sha256:
      - STREAMING-AWS4-HMAC-SHA256-PAYLOAD
      X-Amz-Decoded-Content-Length:
      - '50'
      Authorization:
      - AWS4-HMAC-SHA256 Credential=ASDNLKN23314FSD1234/20180326/ap-southeast-1/s3/aws4_request,
        SignedHeaders=content-type;host;x-amz-acl;x-amz-content-sha256;x-amz-date;x-amz-decoded-content-length,
        Signature=832832bba9989735e9a812df0246e4ba0a5e29c7497b09515a8324e56c4d7c74
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - 0D18D17996372D81
      Etag:
      - '"289b8c2b8eeb8fbac8639506f72933bb"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 26 Mar 2018 16:15:26 GMT
- request:
    method: head
    uri: https://myapp-backup-test.s3-ap-southeast-1.amazonaws.com//some/prefix/little_file.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180326T161526Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=ASDNLKN23314FSD1234/20180326/ap-southeast-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=3b21016b706b6e2878925c01de10549e9035f6156fac4cc6e5a693b55ee8c958
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - AE0F57DF982B29AA
      Last-Modified:
      - Mon, 26 Mar 2018 16:15:27 GMT
      Etag:
      - '"289b8c2b8eeb8fbac8639506f72933bb"'
      Content-Type:
      - text/plain
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 26 Mar 2018 16:15:27 GMT
[...]
- request:
    method: head
    uri: https://myapp-backup-test.s3-ap-southeast-1.amazonaws.com//some/prefix/little_file.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20180326T161527Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=ASDNLKN23314FSD1234/20180326/ap-southeast-1/s3/aws4_request,
        SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=6c360c16665fe10f13f2f7d39238af6b833ebfb4479a77d37d4015013e7362f2
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Amz-Request-Id:
      - 9164D29D421A3F84
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 26 Mar 2018 16:15:28 GMT
recorded_with: VCR 4.0.0
